<!DOCTYPE HTML>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title>Senate Attendance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container" id="app">

        <header>

            <a href="https://www.whitehouse.gov/the_press_office/TransparencyandOpenGovernment"> <img class="logo" class="img-responsive" src="pics/tgif-logo.png" alt="Chania"></a>
            
            <a class="email" href="mailto:info@tgif.net">info@tgif.net</a>

        </header>

        <nav class="navbar navbar-inverse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="house-data.html">House</a></li>
                        <li><a href="senate-data.html">Senate</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="attendance-house.html">House</a></li>
                        <li><a href="attendance-senate.html">Senate</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="loyalty-house.html">House</a></li>
                        <li><a href="loyalty-senate.html">Senate</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="loading" v-show="loading">

            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>

        </div>

        <div id="content" v-show="!loading">

            <div class="pTopLeft">
                <h3>Attendance</h3>
                <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.

                    The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
            </div>

            <div class="topTableRight">
                <h4>Senate at a glance</h4>
                <table class="table table-striped" id="senate-stats">
                    <thead class="thead thead-dark">
                        <th>Party</th>
                        <th>Number of Representatives</th>
                        <th>&#8274; Voted with Party</th>
                    </thead>
                    <tbody id="tblBodySenateGlance">
                        <tr v-for="objectInsideKey, keyParty in membersStats">
                            <td>{{keyParty}}</td>
                            <td>{{objectInsideKey.no_representatives}}</td>
                            <td>{{objectInsideKey.avg_votes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tableInARow">
                <div class="bottomTableLeft">
                    <h4>Least Engaged (Bottom 10&#8274; of Attendance)</h4>
                    <table class="table table-striped" id="leastEngagedSenate">
                        <thead class="thead thead-dark">
                            <th>Name</th>
                            <th>No. of Missed Votes</th>
                            <th>&#8274; Missed</th>
                        </thead>
                        <tbody id="tblBodyLeastEngaged">
                            <tr v-for="member in bottomTenPctMembers">
                                <td><a v-bind:href="member.url" target="_blank"> {{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                                <td>{{member.missed_votes}}</td>
                                <td>{{member.missed_votes_pct}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="bottomTableRight">
                    <h4>Most Engaged (Top 10&#8274; of Attendance)</h4>
                    <table class="table table-striped" id="mostEngagedSenate">
                        <thead class="thead thead-dark">
                            <th>Name</th>
                            <th>No. of Missed Votes</th>
                            <th>&#8274; Missed</th>
                        </thead>
                        <tbody id="tblBodyMostEngaged">
                            <tr v-for="member in topTenPctMembers">
                                <td><a v-bind:href="member.url" target="_blank"> {{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                                <td>{{member.missed_votes}}</td>
                                <td>{{member.missed_votes_pct}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2016 TGIF | All Rights Reserved</p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="tgif.css">

    <!--    <script src="pro-congress-113-senate.js"></script>-->

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="attendance-page.js"></script>

</body>

</html>
