/* ...............Nav Bar...............*/

.navBar {
    display: flex;
    flex-direction: row;
    height: 100px;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navBar a {
    color: white;
    display: flex;
    flex-direction: row; 
}

.logo {
    position: relative;
    height: 100px;
    top: 0px;
}

.email {
    position: relative;
    bottom: -60px;
    float: right;
    font-size: 15px;
    padding-right: 30px;
}

.whitehouse {
    position: relative;
    top: -200px;
    float: right;
    height: 200px;
    display: inline-block;        
}

.dropdownmenu{
    position: relative;
    float: right;
    bottom: 20px;
    right: 20px;
}

 /*Footer */ 

.footer {
    height: 60px;
    background: #eee;
}

.footer p {
    text-align: center;
}
